<!-- app/views/persons/_details.html.erb -->

<h1>People</h1>
<div style="display: flex; justify-content: space-between;">
  <div style="width: 45%;">
    <table >
      <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @persons.each do |person| %>
        <tr>
          <td>
            <%= link_to person.name, person_path(person), data: { turbo_frame: "details_form" } %>
          </td>
          <td>
            <%= link_to 'Edit', edit_person_path(person), class: 'edit-link' %>
            <%= link_to 'Delete', person_path(person), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-link' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div style="width: 45%;">
    <%= turbo_frame_tag "details_form" %>
  </div>
</div>
<%= link_to 'New Person', new_person_path %>
